
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccountant.cshtml";

    var Email = ViewBag.Email;
}

<form asp-action="SaveEndTime">
    <button type="submit" class="btn btn-primary pull-right"> End Time</button>
</form>
<form asp-action="SaveStartTime">
    <button type="submit" class="btn btn-primary pull-right"> Start Time </button>
</form>
<div class="clearfix"></div>
