
@{
    ViewData["Title"] = "Home Page";
}

        <section id="about" class="about">
            <div class="container aos-init aos-animate" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                        <img src="~/img/pic3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                        <h5>
                            If you are an "ads designer" and want to market your designs
                            You are in the best place to market your designs professionally..
                        </h5>
                        <br />
                        <h6>
                            How can you display your designs on our website:
                        </h6>
                        <br />
                        <ul class="font-italic">
                            <li><i class="icofont-check-circled"></i> You must create an account on our website by "Register" at the top of this page.</li>

                            <li><i class="icofont-check-circled"></i> After "Registration" go to the login and login.. using the email password that was used in the "Register".</li>


                            <li> <i class="icofont-check-circled"></i> you have to go "Add product" and enter the required data, upload your design image, and send it.</li>

                        </ul>



                    </div>
                </div>

                <br />
                <br />
                <br />


                <div class="section-title">

                </div>

                <div class="row">

                    <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-right">

                        <h5>
                            If you are a "business owner" and want to buy a design for your ads
                            You are in the right place to find the best designs..
                        </h5>
                        <br />
                        <h6>
                            How can you browse and buy designs :
                        </h6>
                        <br />
                        <ul class="font-italic">
                            <li><i class="icofont-check-circled"></i> You must create an account on our website by "Register" at the top of this page.</li>

                            <li><i class="icofont-check-circled"></i> After "Registration" go to the login and login.. using the email password that was used in the "Register".</li>

                            <li><i class="icofont-check-circled"></i> Go to "Products for sale" Choose the category to which the design you want belongs. </li>

                            <li><i class="icofont-check-circled"></i> Choose the design you want and buy it by clicking the "buy" button.</li>



                        </ul>

                    </div>

                    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-left">
                        <img src="~/img/pic4.jpg" class="img-fluid" alt="">

                    </div>
                </div>
                <br />
                <br />
                <br />

                <div class="row">
                    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                        <img src="~/img/pic5.jpg" class="img-fluid" alt="">
                    </div>
                    <br />
                    <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                        <h5>
                            How is the buying and selling process on our website :
                        </h5>
                        <br />

                        <ul class="font-italic">
                            <li><i class="icofont-check-circled"></i> The designer show his designs and determines the price of the design in the offer.</li>

                            <li><i class="icofont-check-circled"></i> The business owner displays the designs and chooses the design that suits him.</li>

                            <li><i class="icofont-check-circled"></i> The business owner first purchases the design And pay it from our website. </li>

                            <li><i class="icofont-check-circled"></i> We takes 12% of the price of each offer purchased.</li>

                            <li><i class="icofont-check-circled"></i>After that, you can contact the owner of the design and request modifications to suit your ads.  </li>


                        </ul>

                    </div>
                </div>


            </div>
        </section>
