
@{
    ViewData["Title"] = "ProductForSale";
}



@model List<Category>


<section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <h3>Please Choose Category : </h3>

        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" style="margin:20px;">
                    <div class="icon-box aos-init aos-animate" style="width:100%" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-heart-beat"></i></div>
                        <h4 class="title"><a href="/Home/Products/@item.Id">@item.Name</a></h4>
                        <p class="description">@item.Description</p>
                    </div>
                </div>
            }

        </div>
    </div>

</section>

